# SPDX-License-Identifier: GPL-3.0-or-later or MIT

.gdbinit

.config.unix*
.config.win32*
*.manifest

build.*/*
!build.*/locale
!build.*/scripts
!build.*/t
.lastplat

include/generated
include/arch

unitest.h
unitest_list.h

locale/*~
locale/generated.pot
locale/messages.po

.tmp
DRAFT

EastAsianWidth.txt

# みくみくにしてあげる♪
.program
*.ico
*.rc
*.manifest.in
!tests/**/main.c
locale/**/*.mo
