# SPDX-License-Identifier: GPL-3.0-or-later or MIT

.gdbinit

.config
.config.old
.config.def
*.manifest

build/*
!build/locale

include/generated
include/arch

locale/*~
locale/generated.pot

.tmp
DRAFT

# みくみくにしてあげる♪
.program
*.ico
*.rc
*.manifest.in
**/main*.c
