# SPDX-License-Identifier: GPL-3.0-or-later

.gdbinit

.config.unix*
.config.win32*
*.manifest

build.*/*
!build.*/locale
!build.*/scripts
!build.*/t
.last_build

include/generated
include/arch

unitest.h
unitest_list.h

locale/*~
locale/generated.pot
locale/messages.po

.tmp
DRAFT

EastAsianWidth.txt
