[license]
A valid SPDX license identifier
[endlicense]

[name]
program_name
[endname]

[conf]
# available initialization options:
no_arch
[endconf]

[icon]
name.ico
[endicon]

[readme]
Program
=======

Brief description...
[endreadme]
