[repo]
https://url.to/repo
[endrepo]

[license]
A valid SPDX license identifier
[endlicense]

[name]
program_name
[endname]

[conf]
no_arch
[endconf]

[icon]
name.ico
[endicon]

[readme]
Program
=======

Brief description...
[endreadme]
