# SPDX-License-Identifier: GPL-3.0-or-later or MIT

mainmenu "${BSNAME}/$(BSBUILD)-$(BSARCH) $(BSVERSION) Configuration"

menu "Compiling"

choice
	prompt "CC"

config CC_IS_GCC
	bool "gcc"
	depends on "$(UNIX)"

config CC_IS_CLANG
	bool "clang"

endchoice

config DEBUG_ON
	bool "Enable debugging"
	imply USE_ASAN
	imply USE_UBSAN

menu "Sanitizer"

config USE_ASAN
	bool "Address sanitizer"
	select NO_REPORT_HOOK if "$(WIN32)"
	select NO_WIN_GUI if "$(WIN32)"

config USE_UBSAN
	bool "Undefined behavior sanitizer"
	select NO_WIN_GUI if "$(WIN32)"

if "$(UNIX)"

config USE_TSAN
	bool "Thread sanitizer"

config USE_MSAN
	bool "Memory sanitizer"
	depends on CC_IS_CLANG

endif # "$(UNIX)"

endmenu # "Sanitizer"

choice
	prompt "Debugging level"
	default DEBUG_INFO_EXTENDED if DEBUG_ON
	default DEBUG_INFO_REDUCED

config DEBUG_INFO_NONE
	bool "No debug info (-g0)"

config DEBUG_INFO_REDUCED
	bool "Reduced debug info (-g)"

config DEBUG_INFO_EXTENDED
	bool "Extended debug info (-g3)"

endchoice

choice
	prompt "Optimization level"
	default OPTIMIZE_DEBUG if DEBUG_ON
	default OPTIMIZE_PERFORMANCE

config OPTIMIZE_DEBUG
	bool "Optimize debugging (-Og)"

config OPTIMIZE_PERFORMANCE
	bool "Optimize for performance (-O2)"

config OPTIMIZE_O3
	bool "Optimize more aggressively for performance (-O3)"

endchoice

config EXPORT_COMPILE_COMMAND
	bool "Export compile command"

config NO_ARCHSPEC
	bool "Do not build arch-specific part"
	default y if "$(WIN32)"

endmenu # "Compiling"

menu "Feature"

config NO_I18N
	bool "Do not translate messages"

endmenu # "Feature"
