# SPDX-License-Identifier: GPL-3.0-or-later

source "lib/Kconfig.include"

mainmenu "$(pg-name)/$(pg-build)-$(pg-arch) $(pg-version) Configuration"

source "lib/Kconfig.build"

source "lib/Kconfig.feature"

source "lib/Kconfig.sqlite"

source "lib/Kconfig.debug"
