# SPDX-License-Identifier: GPL-3.0-or-later or MIT

menu "Hacking"

config ENABLE_DEBUG
	bool "Debug program"

config DEBUG_INFO
	bool

choice
	prompt "Debug information"
	depends on ENABLE_DEBUG
	default DEBUG_INFO_DWARF5 if CC_IS_GCC || \
				     (CC_IS_CLANG && CC_VERSION > 11000)
	default DEBUG_INFO_DWARF4

config DEBUG_INFO_NONE
	bool "Disable debug information"

config DEBUG_INFO_DWARF4
	bool "Generate DWARF Version 4 debug information"
	select DEBUG_INFO

config DEBUG_INFO_DWARF5
	bool "Generate DWARF Version 5 debug information"
	select DEBUG_INFO

endchoice # Debug information

choice
	prompt "Compressed debug information"
	depends on DEBUG_INFO

config DEBUG_INFO_COMPRESSED_NONE
	bool "Don't compress debug information"

config DEBUG_INFO_COMPRESSED_ZLIB
	bool "Compress debugging information with zlib"
	depends on $(cc-option,-gz=zlib)
	depends on $(ld-option,--compress-debug-sections=zlib)

config DEBUG_INFO_COMPRESSED_ZSTD
	bool "Compress debugging information with zstd"
	depends on $(cc-option,-gz=zstd)
	depends on $(ld-option,--compress-debug-sections=zstd)

endchoice # Compressed Debug information

config ENABLE_SANITIZER
	bool "Build program with sanitizers"
	select IGNORE_ANNOT_LEAKS
	default ENABLE_DEBUG

config DUMP_COMPILE_COMMAND
	bool "Dump compile command"
	default ENABLE_DEBUG

config DEBUG_INTL
	bool "Link with the non-inline function call version of intl"
	depends on I18N_SUPPORT

menu "String Buffer options"

config STRBUF_SANITIZE_PATH
	bool "Add path format checks"
	default ENABLE_DEBUG

endmenu # String Buffer options

menu "List options"

config LIST_SANITIZE_MOD
	bool "Validate list modification"
	default ENABLE_DEBUG

endmenu # List options

endmenu # Hacking
