# SPDX-License-Identifier: GPL-3.0-or-later or MIT

menu "Build options"

choice
	prompt "Compiler optimization level"
	default CC_OPTIMIZE_NONE if DEBUG_PROG
	default CC_OPTIMIZE_PERF

config CC_OPTIMIZE_NONE
	bool "Disable optimization (-O0)"

config CC_OPTIMIZE_PERF
	bool "Optimize for performance (-O2)"

config CC_OPTIMIZE_O3
	bool "Further optimizing performance (-O3)"

endchoice

config ARCH_SPEC
	bool "Add arch-specific code"
	depends on $(exist,arch/.map)

menuconfig SPEC_EXEC_NAME
	bool "Customize executable name"
	default y

if SPEC_EXEC_NAME

config EXEC_NAME
	string "Executable name"
	default $(lower,$(pg-name))

endif

config WIN_GUI
	bool "Build program with gui"
	depends on $(WIN32)

config WIDE_CHAR
	bool "Use wide character"
	default y
	depends on $(WIN32)

menu "Memory allocation"

config PANIC_NOMEM
	bool "Abort execution when memory allocation fails"
	default DEBUG_PROG
	help
	  This is unlikely to happen on modern systems, as running out
	  of memory is rare in most cases.

config WARN_HUGE_ALLOC
	bool "Warn when allocating a large amount of memory"
	default PANIC_NOMEM
	depends on PANIC_NOMEM

endmenu # Memory allocation

config ENABLE_TESTING
	bool "Generate test suite"

endmenu # Executable build options
